/* General Styling. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono';
}

html {
  width: 100vw;
  overflow-x: hidden;

  background-image: url("Images/starBackground.png");
  background-repeat: repeat;
}



/* Header */
header {
  margin: 2em auto;
  text-align: center;
  height: 3em;
}

header button {
  cursor: pointer;
  padding: 0.25em;
  margin: 0.5em;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
}

header button:hover {
  border-bottom: 3px solid #24292E;
}



/* Body */
body {
  display: table;
  vertical-align: middle;

  margin: auto;
  max-width: 720px;
  /* padding: 0 16px;
  background: #ecf0f1; */
}


/* Footer */
footer {
  margin-top: 5em;
  margin-bottom: 5px;
  text-align: center;
  color: #ccc;
}

footer Link {
  color: #ccc;
}


/* Calculator */
.calculator {
  width: 240px;
  height: 432px;

  margin-top: 1em;

  padding: 12px;

  background-color: #09508f;
  border: 3px solid #062156;
  border-radius: 10px 10px 20px 20px;
}

/* Display Text */
.display-box{
  display: flex;
  height: 36px;
  width: 192px;
  margin: auto;
  background-color: #acb59f;
  text-align: right;

  border-radius: 3px;
  border: 4px solid #bdbeb1;
}

.display-text {
  margin-left: auto;
  margin-right: 6px;
  color: #020202;
  font-family: 'Orbitron', sans-serif;
}

.display-text-mrc {
  color: #020202;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
  margin-left: 2px;
}


/* Fake Solar panel and labels */
.solar-label {
  height: 72px;
  margin-top: 12px;
  color: #dee0e0;
}

.solar-name {
  margin-left: 6px;
}

.solar-text {
  display: flex;
  width: 125%;
}

.solar-box {
  display: flex;
  height: 36px;
  width: 108px;
  background-color: #5c6262;
  border: 2px solid #404645;
}

.solar-box-line {
  height: 100%;
  width: 2px;
  margin-left: 24px;
  background-color: #404645;
}

.divider-line {
  width: 236px;
  margin-left: -12px;
  margin-top: 12px;
  border-top: 2px solid #062156;
}


/* Button */
.button-area{
  display: flex;
  height: 240px;
  width: 216px;
  margin-top: 12px;
  padding: 3px;
  border: 2px solid #062156;
  border-radius: 6px;
}

.buttons-grid-left {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: repeat(6, 0fr);
  grid-gap: 0px;
}

.buttons-grid-right {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  grid-template-rows: repeat(5, 0fr);
  grid-gap: 0px;

  margin-left: 14px;
}

.button-number {
  background-color: #dee0e0;
  color: #062156;
  width: 36px;
  height: 24px;
  margin: 6px;

  border-radius: 1px;
  border: 1px solid #062156;
}

.button-modifier {
  background-color: #bf2733;
  color: #fffbf8;
  width: 36px;
  height: 24px;
  margin: 6px;

  border-radius: 1px;
  border: 1px solid #062156;
}

.button-submit {
  background-color: #bf2733;
  color: #fffbf8;
  width: 36px;
  height: 60px;
  margin: 6px;

  text-align: top;
  
  
  border-radius: 1px;
  border: 1px solid #062156;
}
